<%- include("partials/header.ejs") %>

<ul>
    <h2><%= article.judul %></h2>
    <p><%= article.konten %></p>
    <a href="/">Kembali ke Halaman Utama</a>
</ul>

<%- include("partials/footer.ejs") %>